.card {
  overflow: hidden;
  height: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.card img {
  width: 450px;
  object-fit: cover;
}

.card-description {
  padding: 70px 0 70px 70px;
  margin-bottom: 17px;
}
}

.card h2 {
  font-size: 20px;
  font-weight: 300;
  font-weight: 300;
  letter-spacing: 8.2px
}

.card p {
  color: aliceblue;
  font-size: 17px;
  line-height: 1.4;
  opacity: .7;
  font-weight: 200;
  text-align: justify;
}